<script setup lang="ts">


import {useUser} from "~/composables/use-user";

const {setUserDetails, user} = useUser()



</script>

<template>

  <div class="mx-auto max-w-4xl p-10">

    <div class="flex gap-5 mb-10">
      <NuxtLink to="/">Home</NuxtLink>
      <NuxtLink to="/about">Products $fetch</NuxtLink>
      <NuxtLink to="/products">Products useFetch</NuxtLink>
      <NuxtLink to="/admin">Admin</NuxtLink>
      <NuxtLink to="/admin/users">Admin/Users</NuxtLink>
    </div>

    <NuxtPage/>

    <hr>


  </div>

</template>

<style scoped>

</style>