<script setup lang="ts">
import {definePageMeta} from "#imports";


definePageMeta({
  middleware: [ 'auth' ]
})


console.log('hello world')

</script>

<template>
  <div>

    <h1 class="text-3xl">Admin</h1>

  </div>

</template>

<style scoped>

</style>