<script setup lang="ts">
import type {Product} from "~/types/product";

/* ---------------------------------------------------------------------------------------------- */

defineProps<{
  item: Product
}>()

</script>

<template>

  <div class="border shadow-xl rounded-2xl overflow-hidden">
    <div class="w-full mb-3">
      <NuxtImg :src="item.thumbnail" height="200" width="400"  />
    </div>
    <section class="p-2">
      <h1 class="text-xl font-bold mb-2">{{item.title}}</h1>
      <p class="text-xs">{{item.description}}</p>
    </section>


  </div>

</template>

<style scoped>

</style>