<script setup lang="ts">

defineOptions({
  inheritAttrs: false
})


// const attrs = useAttrs();
//
//
// console.log(attrs)

</script>

<template>

  <div>

    <p>This is h1</p>
    <p v-bind="$attrs">App Title component</p>



  </div>

</template>

<style scoped>

</style>