<script setup lang="ts">

const props = defineProps<{
  tags: string[]
}>();

</script>

<template>

  <div class="flex gap-2">
    <span v-for="tag in tags" class="text-green-500">{{ tag }}</span>
  </div>

</template>

<style scoped>

</style>