<script setup lang="ts">


import PostTags from "~/components/post-tags.vue";

interface Props {
  id: number,
  title: string,
  body: string,
  tags?: string[]
  likes: number
}

const props = withDefaults(defineProps<Props>(), {
  tags: () => ['post']
})


const likeValue = defineModel<number>('like', {default: 0})


const onLiked = () => {
  likeValue.value = likeValue.value + 1;
};




</script>

<template>

  <article class="border p-2">
    <h1 class="font-bold capitalize text-2xl">{{ title }}</h1>
    <div class="border-b mb-5 text-sm">
      <PostTags :tags="tags"/>
    </div>

    <div class="mb-3">
      <p>{{ body }}</p>

    </div>

    <hr>
    <footer>

      <button @click="onLiked">Like ({{ likes }})</button>

    </footer>

  </article>

</template>

<style scoped>

</style>