<script setup lang="ts">

const modelValue = defineModel({default: 'locally set...'})


const onClear = () => {
  modelValue.value = ''
};

const id = useId();

</script>

<template>

    <label :for="id" class="flex flex-col gap-1 w-full">
      <span><slot></slot></span>
     <span  class="flex w-full">
       <input :id="id" type="text" class="border p-2 flex-1" v-model="modelValue" v-bind="$attrs">
       <button @click="onClear">Clear</button>
     </span>
    </label>

</template>

<style scoped>

</style>