<script setup lang="ts">
import SingleProduct from "~/components/products/single-product.vue";
import type {Product} from "~/types/product";

/* ---------------------------------------------------------------------------------------------- */

interface FetchedData {
  products: Product[]
}

const searchQuery = ref('')

const data = ref<FetchedData>()
const error = ref('')
const isFetching = ref(false)


const handleSearch = useDebounceFn(async () => {

  console.log('handleSearch invoked')

  try {

    isFetching.value = true;

    data.value = await $fetch<FetchedData>('https://dummyjson.com/products/search', {
      query: {
        q: searchQuery.value
      }
    })

  } catch (e) {
    console.log('error caught...')
    console.log(e);
    error.value = 'Failed to fetch products...'
  } finally {
    isFetching.value = false
  }

}, 500);

handleSearch()

const products = computed(() => {
  if (data.value) {
    return data.value.products;
  }
  return [];
})


</script>

<template>

  <div>

    <h1 class="text-3xl">About page</h1>

    <div class="my-10">

      <input type="text" class="border p-4" placeholder="search products..." v-model="searchQuery"
             @keyup="handleSearch">
      <button class="p-4 bg-blue-200" @click="handleSearch">Search</button>

    </div>

    <div v-if="error">
      <p>{{ error }}</p>
    </div>

    <div v-if="isFetching">
      Fetching products...
    </div>

    <div v-else class="grid grid-cols-3 gap-2">
      <SingleProduct v-for="product in products" :item="product"/>
    </div>

  </div>


</template>

<style scoped>

</style>