<script setup lang="ts">


import {useUppercase} from "~/composables/use-uppercase";

const useMouse = () => {

  const x = ref(0)
  const y = ref(0)


  const location = reactive({x: 0, y: 0})


  const updateMouseLocation = (event: MouseEvent) => {
    x.value = event.pageX;
    y.value = event.pageY;

    location.x = event.pageX;
    location.y = event.pageY;

  };

  onMounted(() => {
    window.addEventListener('mousemove', updateMouseLocation);
  })


  onBeforeUnmount(() => {
    window.removeEventListener('mousemove', updateMouseLocation);
  })


  return {
    x,
    y,
    location
  }

};

const {x, y, location} = useMouse()


const  upperCaseInput = reactive(useUppercase())
const  upperCaseInput2 = reactive(useUppercase())

</script>

<template>

  <div>
    <h1>Composables example</h1>

    <p>Mouse location: {{ x }}, {{ y }}</p>

    <p>{{location}}</p>

    <hr>


    <input type="text" v-model="upperCaseInput2.input.text" class="border p-2">
    <p>{{ upperCaseInput2.upperCasedInput }}</p>


  </div>

</template>

<style scoped>

</style>