<script setup lang="ts">


const theme = useState('state-theme', ()=> 'dark')

console.log(theme.value)

</script>

<template>

  <div>

   <h1 class="text-3xl">Home page</h1>

    <p>{{theme}}</p>

  </div>


</template>

<style scoped>

</style>