<script setup lang="ts">

import TextInput from "~/components/text-input.vue";

const text = ref('sample text...')

</script>

<template>

  <div>

    <TextInput :value="text" v-model="text"/>


    <p>{{ text }}</p>

  </div>

</template>

<style scoped>

</style>