<script setup lang="ts">

import SinglePost from "~/components/single-post.vue";

const posts = reactive([
  {
    id: 1,
    title: 'Post title 1',
    body: 'Lorem ipsum dolor sit amet, consectetur adipisicing el dsdsdit. Alias architecto asperiores ea eligendi id magnam, magni omnis quis quod voluptates!',
    tags: ['tag1', 'tag2', 'tag3'],
    likes: 5,
  },
  {
    id: 2,
    title: 'Post title 2',
    body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores ea eligendi id magnam, magni omnis quis quod voluptates!',
    tags: ['tag1'],
    likes: 0,
  },
  {
    id: 3,
    title: 'Post title 3',
    body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores ea eligendi id magnam, magni omnis quis quod voluptates!',
    likes: 0,
  },
  {
    id: 4,
    title: 'Post title 4',
    body: 'Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias architecto asperiores ea eligendi id magnam, magni omnis quis quod voluptates!',
    tags: ['tag2', 'tag3'],
    likes: 0,
  },
]);



</script>

<template>


  <div>


    <div class="flex flex-col gap-5">
      <SinglePost
          v-for="post in posts"
          :key="post.id"
          :id="post.id"
          :title="post.title"
          :body="post.body"
          :tags="post.tags"
          :likes="post.likes"
          v-model:like="post.likes"
      />
    </div>


  </div>

</template>

<style scoped>

</style>