<script setup lang="ts">


import type {Product} from "~/types/product";
import SingleProduct from "~/components/products/single-product.vue";
import type {Ref} from "vue";

/* ---------------------------------------------------------------------------------------------- */

interface FetchedData {
  products: Product[],
  limit: number,
  skip: number,
  total: number,
}

/* ---------------------------------------------------------------------------------------------- */


const usePagination = (total: Ref<number>, limit: Ref<number>, skip: Ref<number>) => {

  const hasNext = computed(() => {
    return false
  })

  const hasPrevious = computed(() => {
    return skip.value !== 0;
  })

  const handleBack = () => {
    if (skip.value >= 0) {
      skip.value = skip.value - 9
    }
  };

  const handleNext = () => {
    if (skip.value < total.value) {
      skip.value += 9
    }
  };


  return {
    hasNext,
    hasPrevious,
    handleBack,
    handleNext
  }

};


/* ---------------------------------------------------------------------------------------------- */

const useProductsApi = async () => {

  const searchQuery = ref('')
  const searchQueryDebounced = refDebounced(searchQuery, 1000)

  const limit = ref(9)
  const skip = ref(0)
  const total = ref(0)


  const {data, error, status, refresh,} = useFetch<FetchedData>('https://dummyjson.com/products', {
    immediate: false,
    query: {
      q: searchQueryDebounced,
      limit: limit,
      skip: skip
    },
  });

  await refresh();

  watch(data, (data) => {

    console.log('data changing')

    if (data) {
      total.value = data.total;
    }
  }, {immediate: true})

  const products = computed(() => {
    if (data.value) {
      return data.value.products;
    }
    return [];
  });


  const handleSearch = useDebounceFn(async () => {
    await refresh();
  }, 500);


  const isPending = computed(() => {
    return status.value === 'pending'
  });


  const {handleBack, handleNext, hasNext, hasPrevious} = usePagination(total, limit, skip)


  return {
    searchQuery,
    products,
    handleSearch,
    isPending,
    total,
    handleBack,
    handleNext,
    hasPrevious,
    hasNext
  }

};


const {
  searchQuery,
  products,
  handleSearch,
  isPending,
  total,
  hasNext,
  hasPrevious,
  handleNext,
  handleBack,
} = await useProductsApi();


/* ---------------------------------------------------------------------------------------------- */


</script>

<template>
  <div>

    <h1 class="text-3xl">Products - useFetch()</h1>

    <div class="my-10">

      <input type="text" class="border p-4" placeholder="search products..." v-model="searchQuery"
             @keyup="handleSearch">
      <button class="p-4 bg-blue-200" @click="handleSearch">Search</button>


      <hr>

      <div class="flex gap-2">
        <button class="p-2 bg-blue-200" @click="handleBack">Back page</button>
        <button class="p-2 bg-blue-200" @click="handleNext ">Next page</button>
      </div>

      <div>There are {{ total }} products in our system.</div>

      <pre>{{ hasNext }}</pre>

    </div>

    <hr>

    <div v-if="isPending">
      Fetching products...
    </div>

    <div v-else class="grid grid-cols-3 gap-2">
      <SingleProduct v-for="product in products" :item="product"/>
    </div>

  </div>

</template>

<style scoped>

</style>